@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
/* hide calendar icon */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
} */


*{
    scrollbar-width: none;
}